/*-----------------------HERO SECTION-------------------------*/
.hero {
    background-color: #2F303A;
}
.hero .hero-title {
    color: var(--primary-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .hero-btn {
    color: var(--primary-white);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    margin: 0 auto;
}

/*-----------------------SECTION-------------------------*/
.section-title {
    color: var(--text-color-darkgrey);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

/*-----FEATURES-----*/
.features .title {
    color: var(--text-color-darkgrey);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features .text {
    font-size: 14px;
    line-height: 1.7;
}

/*-----TEAM-----*/
.team .team-title {
    color: var(--text-color-darkgrey);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team .team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}